{% assign min_price = closest.product.price_min | money %}
{% assign max_price = closest.product.price_max | money %}

{% if closest.product.price_min != closest.product.price_max %}
  <p class="price-range-block">Price: {{ min_price }} – {{ max_price }}</p>
{% endif %}
<style>
.price-range-block{
    margin: 0;
}
</style>
{% schema %}
{
  "name": "Price Range",
  "tag": null,
  "settings":[],
  "presets": [
    {
      "name": "Price Range",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}