{% assign min_price = product.price_min | money %}
{% assign max_price = product.price_max | money %}

{% if product.price_min != product.price_max %}
  <p>Price: {{ min_price }} – {{ max_price }}</p>
{% endif %}

{% schema %}
{
  "name": "Price Range",
  "tag": null,
  "settings":[],
  "presets": [
    {
      "name": "Price Range",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}