<div class="social-icons-block">
    <div class="social-icons-container">
        <div class="social-icon">
          <a href="" target="_blank">
            <span class="svg-wrapper icon-success">
              {{ 'icon-facebook.svg' | inline_asset_content }}
            </span>
          </a>
        </div>
         <div class="social-icon">
          <a href="" target="_blank">
            <span class="svg-wrapper icon-success">
              {{ 'icon-instagram.svg' | inline_asset_content }}
            </span>
          </a>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "social_icons",
    "settings": [],
    "tag": null,
    "presets": [
    {
      "name": "social_icons",
      "category": "Footer"
    }
  ]
  }
{% endschema %}