<style>
  .social-icons-container {
      display: flex;
      gap: 10px;
      align-items: center;
  }
  .social-icon {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .social-icon a{
    display: flex;
  }
  .social-icon svg{
    color: #07BED4;
  }
</style>
<div class="social-icons-block">
    <div class="social-icons-container">
          <a href="https://www.facebook.com/Vorgee.immerseyourself/" target="_blank">
            <div class="social-icon">
              {{ 'icon-facebook.svg' | inline_asset_content }}
            </div>
          </a>
        
          <a href="https://www.instagram.com/vorgee/" target="_blank">
            <div class="social-icon">
              {{ 'icon-instagram.svg' | inline_asset_content }}
            </div>
          </a>
        
    </div>
</div>
{% schema %}
  {
    "name": "social_icons",
    "settings": [],
    "tag": null,
    "presets": [
    {
      "name": "social_icons",
      "category": "Footer"
    }
  ]
  }
{% endschema %}