{% form 'contact' %}
  {{ form.errors | default_errors }}

  <!-- Account Details -->
  <div class="company-name">
    <label for="company-name">Company Name</label>
    <input type="text" name="contact[company_name]" id="company-name" required autocomplete="organization" />
  </div>

  <div class="first-name">
    <label for="first-name">First Name</label>
    <input type="text" name="contact[first_name]" id="first-name" required autocomplete="given-name" />
  </div>

  <div class="last-name">
    <label for="last-name">Last Name</label>
    <input type="text" name="contact[last_name]" id="last-name" required autocomplete="family-name" />
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="contact[email]" id="email" required autocomplete="email" />
  </div>

  <div class="account-number">
    <label for="account-number">Account Number</label>
    <input type="text" name="contact[account_number]" id="account-number" />
  </div>

  <!-- Company Shipping Address -->
  <fieldset class="shipping-address">
    <legend>Company Shipping Address</legend>

    <div class="shipping-first-name">
      <label for="shipping-first-name">First Name</label>
      <input type="text" name="contact[shipping_first_name]" id="shipping-first-name" required autocomplete="shipping given-name" />
    </div>

    <div class="shipping-last-name">
      <label for="shipping-last-name">Last Name</label>
      <input type="text" name="contact[shipping_last_name]" id="shipping-last-name" required autocomplete="shipping family-name" />
    </div>

    <div class="shipping-company">
      <label for="shipping-company">Company</label>
      <input type="text" name="contact[shipping_company]" id="shipping-company" autocomplete="shipping organization" />
    </div>

    <div class="shipping-address1">
      <label for="shipping-address1">Address</label>
      <input type="text" name="contact[shipping_address1]" id="shipping-address1" required autocomplete="shipping address-line1" />
    </div>

    <div class="shipping-address2">
      <label for="shipping-address2">Apartment, suite, etc.</label>
      <input type="text" name="contact[shipping_address2]" id="shipping-address2" autocomplete="shipping address-line2" />
    </div>

    <div class="shipping-city">
      <label for="shipping-city">City</label>
      <input type="text" name="contact[shipping_city]" id="shipping-city" required autocomplete="shipping address-level2" />
    </div>

    <div class="shipping-state">
      <label for="shipping-state">State</label>
      <input type="text" name="contact[shipping_state]" id="shipping-state" required autocomplete="shipping address-level1" />
    </div>

    <div class="shipping-zip">
      <label for="shipping-zip">Zip Code</label>
      <input type="text" name="contact[shipping_zip]" id="shipping-zip" required autocomplete="shipping postal-code" />
    </div>

    <div class="shipping-phone">
      <label for="shipping-phone">Phone Number</label>
      <input type="tel" name="contact[shipping_phone]" id="shipping-phone" required autocomplete="shipping tel" />
    </div>

  </fieldset>

  <div class="submit">
    <input type="submit" value="Submit Enquiry" />
  </div>

{% endform %}

{% schema %}
{
  "name": "Enquiry Form",
  "tag": "section",
  "settings": [],
  "presets": [
    {
        "name": "Enquiry Form"
    }
  ]
}
{% endschema %}

