<style>
        .v-footer-bottom-wrapper{
            background-color: #06B5D2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          
        }
        .v-footer-bottom-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 15px;
        }
        .v-footer-bottom-wrapper img{
          aspect-ratio: unset;
        }
        .v-payment-icons {
            display: flex;
            gap: 15px;
        }
        .v-payment-icons img{
          border-radius: 0px;
          width: 48px;
        }
        .v-site-copyright p{
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0%;
        }
        @media screen and (max-width: 768px){
          .v-payment-icons img{
            width: 33px;
          }
        }
    </style>
    <div class="v-footer-bottom-wrapper">
    <div class="section section--page-width">
        <div class="v-footer-bottom-container ">
            <div class="v-payment-icons">
                <img src="https://cdn.shopify.com/s/files/1/0662/3136/9798/files/mastercard.png?v=1752126809" class="payment-icon-img" alt="" width="" height="">
                <img src="https://cdn.shopify.com/s/files/1/0662/3136/9798/files/vida.png?v=1752126809" class="payment-icon-img" alt="" width="" height="">
                <img src="https://cdn.shopify.com/s/files/1/0662/3136/9798/files/afterpay.png?v=1752126809" class="payment-icon-img" alt="" width="" height="">
                <img src="https://cdn.shopify.com/s/files/1/0662/3136/9798/files/paypal.png?v=1752126809" class="payment-icon-img" alt="" width="" height="">
                {% comment %} <ul class="list list-payment" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                        <li class="list-payment__item">
                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                        </li>
                    {%- endfor -%}
                </ul> {% endcomment %}
            </div>
            <div class="v-site-copyright">
                <p>© 2025 VORGEE</p>
            </div>
        </div>
        
    </div>
      <img src="https://cdn.shopify.com/s/files/1/0662/3136/9798/files/Vorgee_-_Wave_-_Current_1.png?v=1752118263" width="100%" alt="">
    </div>
{% schema %}
  {
    "name": "Footer Bottom",
    "tag": "section",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Footer Bottom"
      }
    ]
  }
{% endschema %}