<style>
        .vorgee-icon-text-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            gap: 12px;
        }
        .vorgee-icon-text-item{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .vorgee-icon-text-item img{
            width: 72px;
            aspect-ratio: unset;
        }
        .vorgee-icon-text-item .placeholder-image{
            width: 72px;
        }
        @media screen and (max-width: 768px){
            .vorgee-icon-text-container{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    </style>
    <div class="vorgee-icon-text-wrapper">
        <div class="vorgee-icon-text-container">
            {% for block in section.blocks %}
              <div class="vorgee-icon-text-item">
                {% if block.settings.image != blank %}
                  {{ block.settings.image | image_url: width: 250 | image_tag  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-image' }}
                {% endif %}
                
                <p>{{ block.settings.description }}</p>
              </div>
            {% endfor %}
            
        </div>
    </div>

{% schema %}
{
  "name": "Icon with Text",
  "class": "section-wrapper",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
        "type": "icon_text",
        "name": "Icon Text",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Welcome message",
                "default": "Welcome to my shop!"
            }
        ]   
    }
  ],
  "presets": [
    {
        "name": "Icon with Text"
    }
  ]
}
{% endschema %} 