img{
  border-radius: 0;
}
.custom-page-width{
  max-width: calc(var(--page-content-width) + (var(--page-margin) * 2));;
  margin: 0 auto;
}
.announcement-bar__text{
    font-weight: 500;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}
.menu-list__link{
  font-weight: 600 !important;
  color: #333333 !important;
}
.overflow-menu::part(list){
  gap: 60px !important;
}
.header__columns {
    --padding-block-start: 10px;
    --padding-block-end: 10px;
}
.header__column--center {
    header-menu:only-child .overflow-menu::part(list) {
        padding-right: 40px;
    }
}
summary.menu__heading.h4{
  font-weight: 600;
  font-style: Semibold;
  font-size: 18px;
  line-height: 28px;
  vertical-align: middle;
  padding-bottom: 15px;
}
li.menu__item.paragraph a{
  font-weight: 500;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  vertical-align: middle;
}
.menu:not(:has(.menu__heading--empty)) .details-content {
    margin-block-start: 0 !important;
}
.shopify-section-group-footer-group .group-block-content{
  width: 350px;
}
.email-signup__input-group {
    background-color: white !important;
    border-radius: 100px;
    height: 55px;
}
.email-signup__input{
  height: fit-content;
  border: none;
  border-width: 0px !important;
}
.email-signup__input:focus-visible{
  outline: none;
}
.email-signup__button.button-secondary{
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 30px;
  --button-border-width: 0px;
}
.email-signup__button:not(.button-unstyled) {
    border-radius: 100px;
    margin: 2px;
    background-color: #07BED4 !important;
    border: none;
    outline: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* or any bg color */
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
span.menu-list__link-title:hover {
    border-bottom: 2px solid #07BED4;
}
.mega-menu__link--parent{
  font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    color: #333 !important;
}
.menu-list__submenu.color-scheme-matches-parent {
    padding-top: 30px;
}
.mega-menu__grid{
  max-width: 968px;
  margin: 0 auto;
}
.resource-card--overlay .resource-card__title{
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: white;
  color: #333 !important;
  border-radius: 50px;
  padding: 10px 21px;
}
.cart-bubble__background{
  background-color: #95D8E7;
}
.span.cart-bubble__text-count{
  color: #333333;
}
@media screen and (max-width: 768px){
  .email-signup__input-group{
    height: 40px;
  }
  .email-signup__input{
    height: auto;
  }
  .resource-card--overlay .resource-card__title{
    font-size: 12px;
    line-height: 12px;
    padding: 10px 16px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-drawer__menu--childlist:not(.menu-drawer__menu--grid) {
    flex-grow: 0;
    padding-bottom: 30px;
  }
  .slideshow-section slideshow-controls[pagination-position=center]{
    justify-content: flex-end;
  }
}
slideshow-controls[controls-on-media] {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 100px !important;
    transform: translateY(-50%);
}
.slideshow-controls__dots, .slideshow-controls__counter{
  flex-direction: column;
}
a.size-style.custom-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    color: #333;
    padding: 10px 21px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}
a.size-style.custom-btn-2{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 21px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    background-color: #07BED4;
    color: #333;
}
span.icon-round{
    width: 22px;
    height: 22px;
    background-color: #07BED4;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.custom-btn-2 span.icon-round{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #07BED4;
}
.custom-btn-link{
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #333;
}
.section-heading h2, .section-heading p, .section-heading h3{
  font-weight: 600 !important;
  font-size: 44px !important;
  line-height: 54px !important;
}
@media screen and (max-width: 820px){
  a.size-style.custom-btn, a.size-style.custom-btn-2{
    padding: 9px 16px;
    font-size: 12px;
    line-height: 100%;
    height: 36px;
  }
  span.icon-round, .custom-btn-2 span.icon-round{
    width: 18px;
    height: 18px;
  }
  slideshow-controls[controls-on-media]{
    right: 0;
  }
  .section-heading h2, .section-heading p{
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 100% !important;
  }
  .section-heading h3{
    font-size: 30px !important;
    line-height: 40px !important;
  }
}
.product-media-container .product-media {
  background-color: white;
}
.slideshow-control .svg-wrapper{
  color: #07BED4;
}
.resource-list__carousel .slideshow-control{
  border: 1px solid #0000001a;
}
.header__icon--summary .header-drawer-icon{
  width: 22px !important;
  height: 22px !important;
}
.hide-desktop {
    display: none !important;
}
search-button.search-action{
  justify-content: center;
}
.menu--accordion summary{
  padding-block: 0;
}
.collection-title p{
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: white;
}
.menu-drawer__menu{
  padding: 0;
}
.menu-drawer__menu-item{
  border-top: 1px solid #F6F6F6;
  padding: 0 15px;
}
.menu-drawer__inner-submenu .menu-drawer__menu-item{
  padding-left: 0;
}
.menu-drawer__menu-item-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}
.menu-drawer__menu--grandchildlist .menu-drawer__menu-item--child {
  padding: 10px;
}
.menu-drawer__menu--grandchildlist .menu-drawer__menu-item--child .menu-drawer__menu-item-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.menu-drawer__nav-buttons{
  text-transform: uppercase;
}
.text-banner-heading h2{
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
}
.text-banner-heading p{
  font-weight: 600;
  font-size: 25px !important;
  line-height: 30px;
}
.product-card-title p, .product-card .text-block p{
font-weight: 300;
font-size: 18px;
line-height: 28px;
}
.menu-drawer__menu-container--divider{
  border-block-end: none;
}
.text-banner-heading-hero h2{
  font-weight: 600 !important;
  font-size: 60px !important;
  line-height: 100% !important;
}
@media screen and (max-width: 1024px){
  .header__drawer{
    display: flex !important;
  }
  .overflow-menu, .v-menu-links a{
    display: none;
  }
  .v-announcement-bar{
    justify-content: center;
  }
}

@media screen and (max-width: 1024px){
  .menu-drawer__inner-submenu .menu-drawer__menu{
    padding-left: 45px;
  }
}

@media screen and (max-width: 768px){
  .header-logo__image{
    width: 135px !important;
    height: 35px !important;
    margin: 0;
  }
  .email-signup__input-group {
      display: flex !important;
  }
  .email-signup__button.button-secondary {
    width: 150px;
  }
  .v-payment-icons img{
      width: 32px;
  }
  .hide-mobile{
    display: none !important;
  }
  .hide-desktop {
    display: unset !important;
  }
  .collection-title p{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

  }
  .subscribe-title h5{
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
  }
  .email-signup__button.button-secondary{
    font-size: 12px;
  }
  slideshow-slide .product-card .product-media{
    padding: 15px;
  }
  .menu-drawer__inner-submenu .menu-drawer__menu{
    padding-left: 45px;
  }
}

@media screen and (max-width: 768px){
  .text-banner-heading h2{
    font-weight: 600;
    font-size: 40px !important;
    line-height: 100%;
  }
  .text-banner-heading-hero h2{
    font-weight: 600;
    font-size: 30px !important;
    line-height: 100%;
  }
  .text-banner-heading p{
    font-weight: 600;
    font-size: 16px !important;
    line-height: 120%;
    padding: 0;
  }
  slideshow-slide:has(> .resource-list__item.hide-mobile) {
    display: none;
  }
  summary.menu__heading.h4{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }
  li.menu__item.paragraph a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .shopify-section-group-footer-group .group-block-content{
    width: 100%;
  }
  .details-content .list-unstyled {
    margin-top: 20px;
  }
 
}
.header-logo__image{
  border-radius: 0;
  margin-bottom: 0;
}
.slideshow-control--previous {
    margin-left: -22px;
}
.slideshow-control--next {
    margin-right: -22px;
}
.product-list-carousel slideshow-arrows{
  align-items: anchor-center;
  top: -20%;
}
@media screen and (min-width: 821px) {
    slideshow-slides[size=large] {
        min-height: calc(100vh - 161px);;
    }
} 
.shop-range-description p{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.menu-third-level .menu-drawer__menu-item-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #333333;
}
@media screen and (max-width: 768px){
  .slideshow-control--previous {
    margin-left: -14px;
  }
  .slideshow-control--next {
      margin-right: unset;
  }
  .three-column-section .slideshow-control--previous {
    margin-left: -30px;
  }
  .resource-list__carousel .slideshow-control{
    width: 28px;
    min-height: 28px;
    margin-right: -13px;
  }
  .slideshow-control .svg-wrapper{
    width: 14px;
  }
  .product-list-carousel slideshow-arrows {
    align-items: anchor-center;
    top: -35%;
  }
  .shop-range-description p{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
}

slideshow-controls:has(.slideshow-controls__dots) {
    mix-blend-mode: unset;
}
:is(.slideshow-controls__dots,.slideshow-controls__counter) button{
  --color: #95D8E7;
}
.eapps-instagram-feed-title{
  font-weight: 600 !important;
  font-size: 48px !important;
  line-height: 100% !important;
  text-align: left !important;
  padding: 24px 0 !important;
}
@media screen and (max-width: 768px){
  .eapps-instagram-feed-title{
    font-weight: 600;
    font-size: 30px !important;
    line-height: 100%;
  }
}
.header__column {
    @media screen and (max-width: 769px) {
        display: contents;
    }
}
.header__columns {
    @media screen and (max-width: 769px) {
        .header-logo {
            grid-area: center;
        }
    }
}
.header__columns{
@media screen and (max-width: 769px) {
      --header-template-columns: var(--header-mobile-bookend) var(--header-mobile-bookend) 1fr
        var(--header-mobile-bookend) var(--header-mobile-bookend);
      grid-template-areas: 'leftA leftB center rightA rightB';
      grid-column: span 3;
      column-gap: 0;
      align-items: center;
      padding-block: 0;
      padding-inline: 0 var(--padding-3xs);

      .header-logo {
        grid-area: center;
      }

      &:not(:has(header-actions)) .search-action {
        grid-area: leftB;
      }

      &:not(:has(.account-actions)) .search-action {
        grid-area: rightA;
      }

      .search-action {
        grid-area: leftB;
      }

      header-actions {
        grid-area: rightB;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1080px) {
  .v-menu-links a {
      font-size: 13px;
   }
}
/* PDP CSS Start  */
.slideshow-controls__thumbnails .slideshow-control{
  border: 1px solid #D9D9D9;
}
.product-information .product-media-container .product-media{
  border: 1px solid #D9D9D9;
}
.card-gallery.spacing-style.border-style{
  border: none;
}
.media-gallery--carousel slideshow-arrows .slideshow-control{
  padding-inline: 0;
  border: 1px solid #0000001A;
  margin: 5px;
  background-color: white;
}
.product-page-title h1{
  font-weight: 500 !important;
  font-size: 35px !important;
  line-height: 100% !important;
  color: #121212 !important;
}
.product-page-price .price{
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  color: #121212;
}
.variant-option--equal-width-buttons {
    .variant-option__button-label__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
    }
}
.variant-option--equal-width-buttons {
    .variant-option__button-label {
        min-width: var(--variant-min-width);
        /* min-width: 113px; */
        min-height: 33px;
        padding: 8px 16px;
    }
}
.variant-option--buttons legend{
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #121212;
  text-transform: uppercase;
}
.variant-option__swatch-value{
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
}
.variant-option__button-label--has-swatch{
  outline: 1px solid #D9D9D9;
}
.product-information .variant-option__button-label--has-swatch:has(:checked), .variant-option__button-label--has-swatch:hover{
  outline: 3px solid #333333;
  outline-offset: 0;
}
.variant-option__button-label--has-swatch:has(:checked), .variant-option__button-label--has-swatch:hover{
  outline: 1px solid #333333;
  outline-offset: 0;
}
.swatch.swatch--unscaled {
    --swatch-width: 33px;
    --swatch-height: 33px;
}
.product-form-buttons--stacked > *:not(.quantity-selector){
  flex-basis: 100%;
}
.add-to-cart-button{
  outline: 2px solid #333333;
  background-color: white;
  text-transform: uppercase !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #333;
  min-height: 60px;
}
.accelerated-checkout-block, .product-form-buttons .shopify-payment-button__button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #333;
}
.product-form-buttons .shopify-payment-button__button{
  min-height: 60px;
}
.product-information .add-to-cart-button .add-to-cart-icon{
  display: none;
}
.product-description{
  font-weight: 500;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 4%;
  color: #333333;
}
.accordion.product-accordion .details{
  padding: 30px 0;
}
.accordion.product-accordion .details__header{
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  padding: 0;
  min-height: auto;
}
.product-information accordion-custom .details .details-content{
  padding: 0 20px;
  padding-top: 16px;
}
.quick-add-modal__content .product-form-buttons .shopify-payment-button__button{
  color: white;
}
.product-information accordion-custom .details .details-content ul{
  margin: 0;
}
.product-information accordion-custom .details .details-content p{
  margin-bottom: 0;
}
.accordion.product-accordion .details__header .details__icon{
  margin-bottom: 0;
}
.product-information accordion-custom .details:first-child{
  border-top: 1px solid  #D0D0D0 !important;
}
/* .product-information accordion-custom .details{
  border-bottom: 1px solid  #D0D0D0 !important;
} */
.product-information accordion-custom .details .details-content{
  font-size: 16px;
}
media-gallery .slideshow-controls__dots, media-gallery .slideshow-controls__counter {
    flex-direction: row;
}
media-gallery slideshow-controls[controls-on-media] {
    position: absolute;
    top: unset;
    right: unset;
    width: 100% !important;
    transform: unset;
}
.quantity-option-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}
quantity-selector-component.quantity-selector{
  margin-bottom: 30px;
}
.quantity-selector{
  border-radius: 0px !important;
  min-width: 155px;
}
.quantity-selector input[type=number]{
  color: #121212BF;
  font-size: 16px;
}
.variant-picker__form{
  gap: 30px;
}
.product-recommendations product-card{
  z-index: -1; 
}
fieldset.size-option legend{
    display: inline-flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
fieldset.size-option legend .size-option-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
}
fieldset.size-option legend .size-option-button p{
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}

.size-chart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.size-chart-modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  max-width: 800px;
  width: 90%;
  text-align: left;
}

.size-chart-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
.size-chart-modal-content table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0;
    table-layout: auto;
    width: 100%;
    border: 1px solid #d1d1d1;
    overflow: hidden;
    margin-bottom: 30px;
}

.size-chart-modal-content table tr th {
    background-color: black !important;
    color: #fff;
}
.size-chart-modal-content table tr th, .size-chart-modal-content table tr td {
    font-size: 14px;
}
.size-chart-modal-content table tr th, .size-chart-modal-content table tr td {
    text-align: center;
    word-wrap: break-word;
    min-width: 120px;
    position: relative;
    background-color: transparent;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.size-chart-modal-content table tr th{
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
}
.size-chart-modal-content table, .size-chart-modal-content table th, .size-chart-modal-content table td{
  border: 1px solid #d1d1d1;
}
div#scfw_size-chart-tab-1{
  overflow: scroll;
}
p.quantity-option-title {
    color: #121212;
}
.shopify-payment-button__button:hover{
  color: white !important;
}
@media screen and (max-width: 768px) {
    media-gallery slideshow-controls[controls-on-media] {
        right: unset;
    }
    .product-information accordion-custom .details .details-content p{
      font-size: 13px;
    } 
    .size-chart-modal-content{
      padding: 20px;
    }
    .swatch.swatch--unscaled {
    --swatch-width: 24px;
    --swatch-height: 24px;
  }
  .accelerated-checkout-block{
    margin-top: 6px;
  }
  .add-to-cart-button{
    min-height: unset;
    height: 40px;
  }
  .product-form-buttons .shopify-payment-button__button {
    min-height: unset;
    height: 40px;
  }
}
@media screen and (min-width: 750px) {
    .product-information__grid:not(:has(.product-information__media:empty)) {
        &.product-information--media-left {
            --sidebar-width: 33% !important;
            grid-template-columns: 1fr min(50vw, var(--sidebar-width));
        }
    }
}
@media screen and (max-width: 768px){
  .product-description
  .product-information accordion-custom .details .details-content, 
  .product-information accordion-custom .details .details-content p,
  .product-information accordion-custom .details .details-content ul li,
  .product-information accordion-custom .details .details-content span,
  {
    font-size: 13px;
  }
  .product-information .product-description p {
    font-weight: 500;
    font-size: 13px;
    line-height: 172%;
  }
  .product-information accordion-custom .details .details-content div ul li{
    font-size: 13px;
  }
  .accordion.product-accordion .details__header{
      font-size: 14px;
      padding: 0;
  }
  .accordion.product-accordion .details{
    padding: 22px 0;
  }
  .product-information__media media-gallery{
    padding: 15px;
    padding-top: 0;
  }
  .product-information__media :is(.slideshow-controls__dots,.slideshow-controls__counter) button{
    --color: #eee;
  }
  .product-information__media .slideshow-controls__dots button[aria-selected=true]{
    --color: #07BED4;
  }
  .product-page-title h1{
    font-weight: 500;
    font-size: 28px !important;
    line-height: 100%;
  }
  .product-page-price .price{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #121212;
  }
  .variant-option--buttons legend, fieldset.size-option legend .size-option-button p{
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }
  .variant-option--equal-width-buttons {
    .variant-option__button-label__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
    }
  } 
  .variant-option--equal-width-buttons{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .variant-option--equal-width-buttons {
    .variant-option__button-label {
        min-width: var(--variant-min-width);
        width: 93px;
        min-height: 28px;
        padding: 8px 4px;
    }
  }
  quantity-selector-component.quantity-selector{
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 428px) {
    .variant-option--equal-width-buttons {
        grid-template-columns: auto auto auto;;
    }
}
/* PDP CSS End */

.cart-items__quantity .quantity-selector{
  margin: 0;
}
.cart-drawer__inner .cart-items__quantity .quantity-option-title,
.cart-drawer__inner .cart-items__quantity .cart-items__remove,
.cart-items__table .cart-items__quantity .quantity-option-title,
{
  display: none;
}
.cart-items__table .cart-items__quantity .quantity-option-title{
   display: none;
}
.cart-drawer__inner .cart-items__quantity .cart-items__remove{
  display: none;
}

/* Policy Page CSS Start */
.shopify-policy__container{
  max-width: 105ch;
}
.shopify-policy__title h1{
  font-size: 60px;
}
.shopify-policy__body h2, .shopify-policy__body h2 span{
  font-size: 36px;
}
.shopify-policy__body h3, .shopify-policy__body h3 span{
  font-size: 28px;
}
@media screen and (max-width: 768px){
  .shopify-policy__title h1{
    font-size: 30px;
  }
  .shopify-policy__body h2, .shopify-policy__body h2 span{
    font-size: 26px;
  }
  .shopify-policy__body h3, .shopify-policy__body h3 span{
    font-size: 20px;
  }
}
/* Policy page CSS End */

/* Fit Indicator CSS Start */
.fit-indicator-container{
            display: flex;
            gap: 30px;
        }
        .fit-indicator-column{
            order: 2;
            width: 25%;
            transform: scale(0.8);
            opacity: .7;
            transition: all .4s;
            padding: 15px;
        }
        .fit-indicator-column .fit-image{
            width: 100%;
            border-radius: 50%;
        }
        .fit-title-block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 8px 0;        
        }
        .fit-title-block h3{
            margin: 0;
        }
        .are-this-fit{
            display: none;
            font-size: 11px;
            color: white;
            padding: 4.5px;
            text-align: center;
            background-color: black;
            width: 100%;
            border-radius: 50px
        }
        
        .fit-title-block.fit--broad{
            border-top: 3px dashed #c1d560;
            border-bottom: 3px dashed #c1d560;
        }
        .fit-title-block.fit--broad h3{
            color: #c1d560;
        }
        .fit--broad-block .are-this-fit{
            background-color: #c1d560;
        }


        .fit-title-block.fit--snug{
            border-top: 3px dashed #00BBD1;
            border-bottom: 3px dashed #00BBD1;
        }
        .fit-title-block.fit--snug h3{
            color: #00BBD1;
        }
        .fit--snug-block .are-this-fit{
            background-color: #00BBD1;
        }


        .fit-title-block.fit--mid{
            border-top: 3px dashed #F1743D;
            border-bottom: 3px dashed #F1743D;
        }
        .fit-title-block.fit--mid h3{
            color: #F1743D;
        }
        .fit--mid-block .are-this-fit{
            background-color: #F1743D;
        }

        .fit-title-block.fit--mask{
            border-top: 3px dashed #262D61;
            border-bottom: 3px dashed #262D61;
        }
        .fit-title-block.fit--mask h3{
            color: #262D61;
        }
        .fit--mask-block .are-this-fit{
            background-color: #262D61;
        }


        .fit-title-block .fit-icon{
            width: auto;
            height: 1.2em; 
        }
        .fit-indicator-column .fit-content p{
            font-size: 14px;
            color: #58595b;
            margin-top: 8px;
        }

        .fit-indicator-column.active-fit, .fit-indicator-column:hover{
            transform: scale(1);
            opacity: 1;
            box-shadow: 0px 0px 15px #ddd;
            border-radius: 16px;
        }
        .fit-indicator-column.active-fit{
            order: 1;
        }

        .active-fit .are-this-fit{
            display: inline-block;
        }
        .active-fit .fit-title-block{
            border-bottom: none !important;
        }
        .fit-indicator-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fit-indicator-modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  max-width: 900px;
  width: 90%;
  text-align: left;
}

.fit-indicator-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

        @media screen and (max-width: 600px){
            .fit-indicator-container{
                flex-direction: column;
            }
            .fit-indicator-column{
                width: 100%;
            }
        }
/* Fit Indicator CSS End */