.announcement-bar__text{
    font-weight: 500;
    font-style: Regular;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}